:root {
  /* primary */
  --soft-cyan-full-slider: hsl(174, 77%, 80%);
  --bg-strong-cyan-slider: hsl(174, 86%, 45%);
  --bg-light-grayish-red-discount: hsl(14, 92%, 95%);
  --color-light-red-discount: hsl(15, 100%, 70%);
  --color-pale-blue-cta: hsl(226, 100%, 87%);

  /* neutral */
  --bg-white: hsl(0, 0%, 100%);
  --bg-very-pale-blue: hsl(230, 100%, 99%);
  --light-grayish-blue-slider: hsl(224, 65%, 95%);
  --bg-light-grayish-blue: hsl(223, 50%, 87%);
  --color-grayish-blue: hsl(225, 20%, 60%);
  --dark-desaturated-blue: hsl(227, 35%, 25%);

  --padding-container: 2.5em;
  --font-size-span: 0.87em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgb(0, 0, 0, 0);
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--bg-very-pale-blue);

  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-weight: 600;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: default;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(./images/bg-pattern.svg);
  background-repeat: no-repeat;
  background-size: 100% 60%;
}

.main {
  margin: 2em;
  color: var(--color-grayish-blue);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  position: relative;
  width: 100%;
  margin-bottom: 2em;

  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.6em;
}

.header::before {
  content: url(./images/pattern-circles.svg);
  width: 100%;
  position: absolute;
  z-index: -1;
}

.header__title {
  color: var(--dark-desaturated-blue);
  font-size: 2em;
}

.header__subtitle {
  color: inherit;
}

.section {
  width: 545px;
  margin: 2em 0;
  border-radius: 0.5em;
  background-color: var(--bg-white);
  box-shadow: -1px 10px 40px -10px var(--color-grayish-blue);
}

/* ---- CONTAINER ONE ---- */
.container-one {
  padding: var(--padding-container);
  display: flex;
  flex-direction: column;
  gap: 2.5em;
}
/* ---- TOP ---- */
.top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top__pageviews {
  letter-spacing: 0.2em;
  text-transform: uppercase;

  font-weight: 800;
}
.top__price {
  color: inherit;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3em;
}

#price {
  color: var(--dark-desaturated-blue);
  font-size: 2em;
  font-weight: 800;
}

#range {
  -webkit-appearance: none;
  width: 100%;
  height: 0.75em;
  border: none;
  border-radius: 0.5em;
  background: var(--light-grayish-blue-slider);
  outline: none;
}

#range::-webkit-slider-thumb {
  -webkit-appearance: none;
  position: relative;
  width: 2.75em;
  height: 2.75em;
  border-radius: 50%;
  background-color: var(--bg-strong-cyan-slider);
  background-image: url(./images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 0.8em 1.5em 0.5em var(--soft-cyan-full-slider);
  cursor: pointer;
  transition: 0.4s;
}

#range::-webkit-slider-thumb:hover {
  background-color: hsl(174, 73%, 70%);
}
#range::-webkit-slider-thumb:active {
  background-color: hsl(176, 64%, 41%);
}

#range::-moz-range-progress {
  background-color: var(--soft-cyan-full-slider);
}

/* ---- CENTER ---- */
.center {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.center__label {
  font-size: var(--font-size-span);
}

.switch {
  position: relative;
  display: inline-block;
  width: 3em;
  height: 1.6em;
}

#discount {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider__switch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  border-radius: 2em;
  background-color: var(--bg-light-grayish-blue);

  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

.slider__switch:before {
  position: absolute;
  left: 4px;
  bottom: 4px;
  content: "";

  height: 1em;
  width: 1em;
  border-radius: 50%;
  background-color: var(--bg-white);

  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#discount:checked + .slider__switch {
  background-color: var(--soft-cyan-full-slider);
}

#discount:checked + .slider__switch:before {
  -webkit-transform: translateX(1.4em);
  -ms-transform: translateX(1.4em);
  transform: translateX(1.4em);
}

.center__discount {
  margin-left: 0.5em;
  padding: 0.5em;
  border-radius: 2em;
  background-color: var(--bg-light-grayish-red-discount);
  color: var(--color-light-red-discount);

  line-height: 0;
  letter-spacing: 0;
  text-align: center;
  font-size: 0.8em;
}
/* ----------------------- */
/* ---- CONTAINER TWO ---- */
.container-two {
  width: 100%;
  padding: var(--padding-container);
  border-top: 1px solid var(--bg-light-grayish-blue);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list {
  list-style: none;
  font-size: var(--font-size-span);

  display: flex;
  flex-direction: column;
  gap: 0.8em;
}

.list__item::before {
  content: url(./images/icon-check.svg);
  margin-right: 1em;
}

.bottom__button {
  width: 40%;
  padding: 1em;
  border: none;
  border-radius: 2em;
  background-color: var(--dark-desaturated-blue);
  color: var(--color-pale-blue-cta);

  font-family: inherit;
  font-size: var(--font-size-span);
  font-weight: 800;
  cursor: pointer;
  user-select: none;
  outline: none;
  transition: 0.4s;
}

.bottom__button:hover {
  color: var(--bg-white);
}

/* ----------------------- */
/* ---- FOOTER ---- */
.footer {
  margin: 2em;
  color: var(--dark-desaturated-blue);
  font-size: 1em;
  font-weight: 600;
}

.footer__link {
  color: var(--bg-strong-cyan-slider);
}
